{% extends "chapter/layout.html" %}
{% block body %}
<p>
The University of Michigan chapter of Delta Upsilon was founded in 1876 by three men who believed in the ideals of the Anti-Secret Society as it was formerly known. Eleven more men joined in the spring, and Delta Upsilon has been a presence on campus ever since.
<p>
The iconic chapter house was the first house built exclusively for fraternity use in 1903. Famed architect Albert Kahn—who also designed Hill Auditorium—created an open floor layout, reflecting the ideals of non-secrecy. The house is an English Tudor style that has detailed wooded craftsmanship with carved wooden fraternity symbols sprinkled throughout the house.
<p>
The University of Michigan Delta Upsilon endured an unexpected hardship in the summer of 2008 when the chapter house burned down. Forced to live in residential houses for four years, the brotherhood managed to keep numbers relatively steady, but certainly missed the central meeting place a chapter house offers. 
<p>
Four years later, following Albert Kahn’s original design, the chapter house was finally completed in September 2012. With brother and architect Jeff Scott overseeing the project, the Delta Upsilon house is an unbelievable space, allowing the brotherhood to flourish again. The chapter also rescued a puppy, Emma, who lives in the chapter house.

{% endblock %}
