{% extends "history/layout.html" %}
{% block body %}
<p>
We understand the reputation that is attached to fraternities can be disconcerting for parents. At Delta Upsilon, however, we pride ourselves on not being a stereotypical fraternity. 
<p>
To put it simply: we do not haze. As a fraternity founded on justice and non-secrecy, hazing runs contrary to what we stand for and believe in. Our goal of building better men does not require it—indeed, we believe that hazing does the opposite. 
<p>
Likewise, we recognize that above anything else, we are students here at the University of Michigan. Never will fraternity business come before schoolwork. Delta Upsilon holds its brothers accountable for their performance in the classroom and considers its members’ academic standing to be a direct reflection of the fraternity. Joining DU will not destroy your GPA; rather, it will serve as an academic resource with a diverse group of brothers covering many schools and majors throughout the university.
<p>
If you have any questions about the pledgeship, academics, or our fraternity, please feel free to contact:
<p>
Kevin Lass
President
(contact information)
<a href="mailto:kmlass@umich.edu">email</a>
<p>
Sean Carney
Vice President of New Member Education
(contact information)
<p>
An Nguyen
Vice President for Scholarship
(contact information)

{% endblock %}
