{% extends "history/layout.html" %}
{% block body %}
<p>
Delta Upsilon is the sixth oldest fraternity in North America at 178 years old. When students and the faculty became concerned with the secret activities of two fraternities at Williams College in Massachusetts, Delta Upsilon was founded. Arguing that the use of fraternities for political gain—such as successfully placing members in high office not for their merit but for their membership in a certain brotherhood—was wrong, sophomores Stephen Field, Lewis Lockwood and Francis Tappan recruited 30 likeminded men. Together, they endeavored to build a brotherhood with the motto “Ouden Adelon,” meaning nothing secret, and fought to advance justice and liberal culture. They saw no need to secret rituals.
<p>
As the non-secret fraternity movement began to spread, Delta Upsilon established chapters all over the country and eventually into Canada. It has a proud history of producing great scholars, public servants, businessmen, athletes, scientists, writers and entertainers. For example:

{% endblock %}
