{% extends "history/layout.html" %}
{% block body %}
<p>
Delta Upsilon participates is both Fall and Winter rush and is constantly looking for any Michigan student who would add to the fraternity. The Fall 2012 Rush dates are:
<li>
<ul>Sept 11th Open House – 1331 Hill 6-9PM
<ul>Sept 18th Cookout – 1331 Hill 6-9PM
<ul>Sept 19th Pizza Night – 1331 Hill 6-9PM
<ul>Sept 20th – Invite Only
</li>
<p>
If you have any questions regarding recruitment, contact Connor Jennings, Vice President for Recruitment at (616) 566-9756 or <a href="mailto:jmbarch@umich.edu">jmbarch@umich.edu</a>. Also, join the rush <a href="www.facebook.com/groups/durush">Facebook group</a>. 

{% endblock %}
